body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(242, 242, 189);
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    height: 100vh;
    box-sizing: border-box;
}

.left-image {
    width: 50%;
    height: 1000px;
    object-fit: cover;
}

.form-container {
    width: 50%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f1f1f1;
}

form label {
    display: block;
    margin-top: 10px;
}

form input, form select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form input[type="checkbox"] {
    width: auto;
}

form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}

.required {
    color: red;
    margin-left: 5px;
}
